[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
plotly = "*"
wordcloud = "*"
matplotlib = "*"
gunicorn = "*"
scikit-learn = "*"
fuzzywuzzy = "*"
mpmath = "*"
nltk = "*"

[requires]
python_version = "3.8"
